* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  /* outline:2px solid red; */
}

body {
  background-color: rgb(252, 242, 245);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  /* border-bottom:2px solid white; */
}

.header-img {
  width: 150px;
  height: 40px;
  /* padding:10px 15px; */
}

.nav-link {
  /* padding:15px; */
}

.nav-link a {
  text-decoration: none;
  padding: 5px 15px;
  font-weight: 500;
  opacity: 0.91;
}

.btn-login,
.btn-catalog {
  color: white;
  background-color: black;
  border-radius: 40px;
}

/* grid practice section */
.btn-catalog {
  color: white;
  background-color: black;
  border-radius: 6px;
  text-decoration: none;
}

.img-div {
  height: 200px;
  width: 200px;
}
.main-container {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  padding: 40px 160px;
  gap: 120px;
  /* grid-template-columns: repeat(2,1fr); */
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 500px;
}

.left-container p {
  font-size: x-large;
  font-weight: 300;
  opacity: 0.6;
}

.btn-catalog {
  font-size: larger;
  height: 60px;
  width: 250px;
  padding: 15px;
  text-align: center;
  font-weight: 500;
  border-radius: 15px;
}

.right-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 12px;
}

.img-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.right-container img:nth-of-type(4) {
  grid-column: 1/3;
}

/* middle section */
.middle-section {
  margin: 40px 0px;
  display: flex;
  justify-content: space-around;
}

.middle-section-img {
  width: 280px;
  height: 70px;
}

.middle-section-left {
  display: flex;
  flex-direction: column;
}

select {
  margin: 20px 10px;
  width: 270px;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
}

.list-header {
  font-size: 22px;
  font-weight: bold;
}

li,
li a {
  text-decoration: none;
  list-style: none;
  line-height: 2;
  opacity: 0.9;
}

li a:hover,
.footer-bottom-links a:hover,
.footer-first a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

.footer-first {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  letter-spacing: 2;
}

.footer-first a {
  opacity: 0.4;
  font-weight: 500;
  padding: 8px;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 40px 120px;
}

.footer-bottom-icons i,
.footer-bottom-links a {
  padding: 0 6px;
  text-decoration: none;
}

.footer-bottom-line {
  font-size: 10px;
}
