@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

header{
    padding:10px 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 219, 219);
}

.header-right{
    padding-top: 10px;
    display: flex;
    gap:20px;
    font-size: 15px;
    /* font-weight: 400; */
    
}

a, h1{
    color:#0B5CFF;
    text-decoration: none;
}


select{
    border:none;
    font-size: 15px;
    color:#0B5CFF;
}

img{

    height:300px;
    weight:300px;
}
section{
    display: flex;
    height:90vh;

    justify-content: center;
    align-items: center;
    gap:150px;
}
.right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

h2{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

input{
    font-size: 17px;
    height: 50px;
    width:350px;
    border:1px solid rgb(117, 117, 117);
        border-radius: 10px;

        padding:10px;

}

.sign-in-form{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.sign-in-form a {
    display: block;          
    background-color: #0B5CFF;
    color: white;
    text-align: center;
    height: 40px;
    width:350px;
        border-radius: 10px;

    line-height: 40px; 
}

.social-media-icons{
    display: flex;
    gap:20px;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    
  
}


.icon a{
  height: 50px;
  width: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(221, 219, 219);
}

.icon p{
    font-size: 15px;
        opacity: 0.7;

}

footer{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.footer-2{
    text-align: center;
}

