* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  display: grid;
  background-color: white;
  height: 100vh;
  grid-template-areas:
    "header header"
    "navigation main"
    "footer footer";
  grid-template-rows: 60px 1fr 90px;

  grid-template-columns: 260px 1fr;
}

.header {
  padding: 10px 20px;

  grid-area: header;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
h1 {
  color: #750350;
  width: 100%;
}

.header-left {
  display: flex;
  gap: 20px;
}

.header-right {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
  color: rgb(117, 3, 224);
}
.item p {
  font-size: 20px;
}
.item a {
  text-decoration: none;
  color: #750350;
  display: flex;
  gap: 10px;
  border: 2px solid #750350;
  border-radius: 5px;
  padding: 10px;
}

.item a:hover {
  background-color: #750350;
  color: white;
}

.header-left h1 {
  width: 300px;
}

.header-left input {
  width: 300px;
  border-radius: 6px;
  border: 2px solid rgb(173, 172, 172);
  padding: 10px;
}

.header-left input:focus {
  outline: 2px solid #750350;
}

.navigation {
  grid-area: navigation;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* color:white; */
  padding: 15px;
  font-size: large;
}

select,
.category-list {
  border: none;
  outline: none;
  width: 160px;
  font-weight: 600;
  opacity: 0.8;
}
select:hover {
  outline: none;
  border: none;
}

.dropdown {
  border: 2px solid rgb(240, 238, 238);
}
.category {
  /* padding:10px; */
  border: 2px solid rgb(240, 238, 238);
}
.category-list {
  font-size: 17px;
  padding: 10px;
}

.category-list div {
  display: flex;
  gap: 10px;
}

.main {
  padding: 10px;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.item {
  background-color: white;
  border: 2px solid rgb(240, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
.item:hover {
  border: 2px solid #750350;
  transform: scale(0.98);
  opacity: 0.8;
}
.item img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.footer {
  grid-area: footer;
  background-color: rgb(51, 51, 51);
  color: white;
  display: flex;
  padding: 10px;
  justify-content: center;
  gap: 100px;
}

.main div:nth-of-type(1) {
  grid-row: 1/3;
}

.main div:nth-of-type(4) {
  grid-row: 1/3;
  grid-column: 4;
}

h6 {
  color: white;
  opacity: 0.6;
  font-size: 15px;
  font-weight: 50;
}

.social-media-icons {
  display: flex;
  padding-top: 10px;
  gap: 15px;
}
